:root {

	--h1: 100px;
	--p: 20px;
	--Black: rgb(0, 0, 0);
	--yellow: #FFFF00;
	--padding: 30px;
}

/* js styling */
.imageBlock{
	width: 200px;
	height: 200px;
	
}
#bigSun {
	display: flex;
	justify-content: center;
	background-color: var(--yellow);
	height: 50vh;
	width: 50vh;
	border-radius: 800px;
	position: absolute;
	z-index: 1;
}
#bigSun.highlight{
	background-color: var(--Black);

}





/* NORMAL -------- */
LEFT TO RIGHT FOR WEB
/* p {
	padding: 30px;


	font-family: "Space Grotesk";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	

} */

body {
	display: flex;
	flex-direction: column;
}

.Bigsection {
	padding-top: 10vh;
}

.flexDiv {
	/* display: grid;
	grid-template-columns: 1fr 4fr; */
	column-gap: 25px;
	display: flex;
	margin: 40px

}

.webNav {
	height: 120px;
	width: 100px;
	background-color: var(--Black);
	color: white;
	/*  each element is spaced evenly*/
	display: flex;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
	flex-direction: column;
	/* border-radius: 200px; */
	font-family: Shader;
	font-size: 8px;
	font-style: normal;
	font-weight: 600;
	line-height: 180%;
	*/
	/* 15.977px */
	text-transform: uppercase;
	/* margin-top: 60px;
	margin-left:30px; */
	justify-content: center;
	/* margin-top: calc(10vh)+calc(10px); */
	margin-top: 11vh;

}


.firstDiv {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.birdsSection {

	/* placing birds where we want */
	display: flex;
	flex: 3;
	justify-content: center;
	height: 70%;
	background-color: var(--red--);
	z-index: 0;
	flex-direction: column;
	position: relative;
	/* font changes */
	font-family: "shader", sans-serif;
	font-weight: 700;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--Black);
}




/*  */

.centerSun {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

/* display flex all birds */
.birds1 .birds2 .birds3 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--Black);

	font-family: Shader;

	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;



}

/* ofset that one bird */
.birds2 {
	padding-left: 30px;
	position: relative;
	padding-left: 30px;
}

#decrativeBar {

	background-color: var(--Black);
	width: 100%;
	height: 20px;
}

.sunDiv {
	width: 60vw;
	display: flex;
	flex-direction: row;
	justify-content: center;


}



.flockDetails {
	display: flex;
	flex-direction: row;
	height: 200px;

}

#notFlockDiv {

	width: 0%;
	height: 100%;
	/* background-color: aqua; */

}

#flockDiv {

	width: 100%;
	height: 100%;
	/* background-color: #FFFF00; */
	padding-top: 80px;

}

#BirdImage {
	width: 300%;
}

.navContainer {
	/* display: flex; */
	/* flex-direction: row; */
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 30px;
	display: none;
}

nav {
	background-color: #000;
	color: azure;
	width: 70%;
	/*  each element is spaced evenly*/
	display: flex;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
	flex-direction: row;
	/* border-radius: 200px; */
	font-family: Shader;
	font-size: 8px;
	font-style: normal;
	font-weight: 600;
	line-height: 180%;
	/* 15.977px */
	text-transform: uppercase;

}

.textSection {

	/* need to make a height so that we can scroll */
	height: 50vh;
	overflow: scroll;



}
p {
	padding: 30px;


	font-family: "Space Grotesk";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

}


/* center it within the div */
/* position: relative;
left: 20vw;























/* MEDIA QUERIES */

/* ALL RULES THAT APPLY WHEN SCREEN IS SMALLER THAN 1050 PX */
@media screen and (max-width: 1050px) {}

/* WHEN SCREEN IS SMALLER THAN 600 PX */
@media screen and (max-width: 600px) {

	/* FLEX UP AND DOWN FOR MOBILE */
	/* for fonts */
	/* DISPLAY NONE */
	.flexDiv {
		display: flex;
		flex-direction: column;
	}

	.webNav {

		display: none;
	}

	p {
		padding: 30px;


		font-family: "Space Grotesk";
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;

	}

	body {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}



	/* .sideNav {
		height: 80px;
		background-color: aqua;
	} */

	.birdsSection {

		/* placing birds where we want */
		display: flex;
		flex: 3;
		justify-content: center;
		height: 70%;
		background-color: var(--red--);
		z-index: 0;
		flex-direction: column;
		position: relative;
		/* font changes */
		font-family: "shader", sans-serif;
		font-weight: 700;
		font-size: 60px;

		color: var(--Black);
	}

	/* display flex all birds */
	.birds1 .birds2 .birds3 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--Black);

		font-family: Shader;

		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;


	}
	.flexDiv {
		/* display: grid;
		grid-template-columns: 1fr 4fr; */
		column-gap: 25px;
		display: flex;
		margin: 0px
	
	}

	/* ofset that one bird */
	.birds2 {
		padding-left: 30px;
		position: relative;
		padding-left: 30px;
	}

	#decrativeBar {
		display: none;
	}

	.sunDiv {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	#bigSun {
		background-color: var(--yellow);
		height: 40vh;
		width: 40vh;
		border-radius: 200px;

		/* center it within the div */
		/* position: relative;
	left: 20vw; */

	}


	.flockDetails {
		display: flex;
		flex-direction: row;
		height: 200px;

	}

	#notFlockDiv {

		width: 100%;
		height: 100%;
		/* background-color: aqua; */

	}

	#flockDiv {

		width: 100%;
		height: 100%;
		/* background-color: #FFFF00; */
		padding-top: 80px;

	}

	#BirdImage {
		width: 60%;
	}

	.navContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 60px;
		padding-bottom: 30px;
	}

	nav {
		background-color: var(--Black);
		color: azure;
		width: 70%;
		/*  each element is spaced evenly*/
		display: flex;
		justify-content: space-between;
		padding: 0px 20px 0px 20px;
		flex-direction: row;
		border-radius: 200px;
		font-family: Shader;
		font-size: 8px;
		font-style: normal;
		font-weight: 600;
		line-height: 180%;
		/* 15.977px */
		text-transform: uppercase;

	}

	.textSection {

		/* need to make a height so that we can scroll */
		height: 50vh;
		overflow: scroll;



	}



}











/* SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	nav {

		width: 80%;


	}
}

/* SCREEN IS SMALLER THATN 400 PX */

@media screen and (max-width: 400px) {}

/* WHEN SCREEN IS SMALLER THAN 350 PX */
@media screen and (max-width: 350px) {}