:root {

	--h1: 80px;
	--p: 20px;
	--Black: rgb(0, 0, 0);
	--yellow: #FFFF00;





}

.birdsSection {
	color: #000;
	font-family: Shader;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

/* MEDIA QUERIES */

/* ALL RULES THAT APPLY WHEN SCREEN IS SMALLER THAN 1050 PX */
@media screen and (max-width: 1050px) {}

/* WHEN SCREEN IS SMALLER THAN 600 PX */
@media screen and (max-width: 600px) {

	.sideNav {
		height: 80px;
		background-color: aqua;
	}

	.birdsSection {

		/* placing birds where we want */
		display: flex;
		flex: 3;
		justify-content: center;
		height: 70%;
		background-color: var(--red--);
		z-index: 0;
		flex-direction: column;
		position: relative;
		/* font changes */
		font-family: "shader", sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: rgb(207, 196, 255);
	}

	.birds1 .birds2 .birds3 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--Black);

		font-family: Shader;
		font-size: 80px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;

	}

	.sunDiv {
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: center;

	}

	#bigSun {
		background-color: rgb(0, 132, 255);
		height: 30vh;
		width: 30vh;
		border-radius: 200px;

		/* center it within the div */
		/* position: relative;
	left: 20vw; */

	}

	nav {
		background-color: #000;
		color: azure;
		width: 60%;
		/*  each element is spaced evenly*/
		display: flex;
		justify-content: space-between;
		padding: 0px 8px 0px 8px;



	}


	.textSection {
		background-color: rgb(35, 6, 181);
		/* need to make a height so that we can scroll */
		height: 50vh;
		overflow: scroll;



	}



}

/* SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {}

/* SCREEN IS SMALLER THATN 400 PX */

@media screen and (max-width: 400px) {}

/* WHEN SCREEN IS SMALLER THAN 350 PX */
@media screen and (max-width: 350px) {}